[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "external/StormLib"]
	path = external/StormLib
	url = https://github.com/Lectem/StormLib.git
	shallow = true
