[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/StormLib"]
	path = external/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = https://github.com/JoshuaBrookover/bgfx.cmake.git
